.footer-container .page-footer .footer-menu .footer-font-clr {
    color: var(--primary-dark-gray);
}

.footer-container .page-footer .footer-menu .nav-link:hover {
    color: var(--primary-sky-blue);
}

.footer-container .page-footer .footer-nav {
    margin: auto 13vw;
}


/* media queries - footer  */

@media only screen and (max-width: 1376px) {
    .page-footer .footer-nav {
        margin: auto 7vw !important;
    }
}


@media only screen and (max-width: 1064px) {
    .page-footer {
        justify-content: center;
    }

    .page-footer .footer-logo {
        text-align: center;
        width: 100%;
    }
    .page-footer .footer-icon {
        margin-top: 14px;
    }

}

@media only screen and (max-width: 667px) {
    .page-footer .footer-nav .footer-menu {
        flex-direction: column;
    }

    .page-footer .footer-nav {
        width: 100%;
        justify-content: center;
    }

    .page-footer .footer-logo .footer-img {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 775px) {
    .page-footer .footer-nav {
        margin: auto 0vw !important;
    }
}

@media only screen and (max-width: 1200px) {
    .page-footer .footer-icon {
        text-align: center;
        width: 100%;
    }
}